<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

      <h2 class="text-center mb-4">Create new profile</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class='mb-3'>
          <%= f.label :profile_photo, "Upload Profile Photo", class: 'form-label fw-bold' %>
          <%= f.file_field :profile_photo, class: 'form-control' %>
        </div>

        <div class='mb-3'>
          <%= f.label :name, class: 'form-label fw-bold' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: 'form-label fw-bold' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: 'form-label fw-bold' %>
          <% if @minimum_password_length %>
            <div id="passwordHelp" class="form-text text-muted">
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            </div>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: 'form-label fw-bold' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class='mb-3'>
          <%= f.label :practice, "Practice", class: 'form-label fw-bold mt-3' %>
          <%= f.select :practice, options_for_select(['Business Consulting', 'Technology Consulting', 'Design Practice', 'Delivery Consulting', 'Service Centre', 'Quality Engineering', 'Operations and Finance', 'Software Engingeering', 'Other']), { prompt: 'Choose a practice' }, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :grade, "Select Grade", class: 'form-label fw-bold' %>
          <%= f.select :grade, (0..9).to_a, {}, class: 'form-control' %>
        </div>

        <br>


        <div class='mb-3'>
        <%= f.label :previous_clients, "Select Previous Clients", class: 'form-label fw-bold' %>
        <% ['Mitsubishi', 'Barclays', 'Santander', 'Westfield', 'FIFA', 'F1', 'NHS', 'British Museum', 'Other'].each do |client| %>
          <div class="form-check">
            <%= f.check_box :previous_clients, { multiple: true, class: 'form-check-input' }, client, nil %>
            <%= f.label :previous_clients, client, class: 'form-check-label' %>
          </div>
        <% end %>
      </div>

        <%= f.label :experience, class: "form-label fw-bold mt-3" %>
        <%= f.text_area :experience, class: "form-control input-size", rows: 5 %>

        <div class='mb-3'>
          <%= f.label :interest, "Select your interest", class: 'form-label fw-bold mt-3' %>
          <%= f.select :interest, options_for_select(['Construction', 'Healthcare', 'Education', 'Manufacturing', 'Entertainment', 'Retail', 'Financial services', 'Other']), { prompt: 'Choose an interest' }, class: 'form-control' %>
        </div>

        <!-- Skills Section -->
        <div class="row">
          <!-- Technical Skills -->
          <div class="col-md-6">
            <div class='mb-3'>
              <%= f.label :technical_skills, "Select your Technical Skills", class: 'form-label fw-bold' %>
              <% ['Ruby', 'JavaScript', 'Python', 'Java', 'C++', 'HTML', 'CSS', 'SQL'].each do |skill| %>
                <div class="form-check">
                  <%= f.check_box :skills, { multiple: true, class: 'form-check-input' }, skill, nil %>
                  <%= f.label :skills, skill, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
          </div>

          <!-- Soft Skills -->
          <div class="col-md-6">
            <div class='mb-3'>
              <%= f.label :soft_skills, "Select your Soft Skills", class: 'form-label fw-bold' %>
              <% ['Presentations', 'Stakeholder Management', 'Team Leadership', 'Time Management', 'Problem Solving'].each do |skill| %>
                <div class="form-check">
                  <%= f.check_box :skills, { multiple: true, class: 'form-check-input' }, skill, nil %>
                  <%= f.label :skills, skill, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class='mb-3'>
          <%= f.label :bench, "Are you currently on the bench?", class: 'form-label fw-bold mt-3' %>
          <div class="form-check">
            <%= f.check_box :bench, { class: 'form-check-input', id: 'bench_checkbox' }, true, false %>
            <%= f.label :bench_checkbox, "Yes", class: 'form-check-label' %>
          </div>
        </div>

        <div class="actions mt-4 d-grid">
          <%= f.submit "Create profile", class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>

    </div>
  </div>
</div>