<br>
<br>

<div class='container'>
  <h1 class='text-center mb-4'>All Users</h1>

  <!-- Search Form -->
  <div class="mb-4">
    <%= form_with url: users_path, method: :get, local: true, class: "d-flex" do |f| %>
      <%= f.text_field :query, placeholder: "Search by interests or skills", class: "form-control me-2" %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Practice</th>
        <th>Grade</th>
        <th>Bench Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name || 'No name provided' %></td>
          <td><%= user.practice || 'No practice provided' %></td>
          <td><%= user.grade || 'No grade provided' %></td>
          <td><%= user.bench ? '🚩' : '' %></td>
          <td>
            <%= link_to "View Profile", user_path(user), class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>