<div class='container'>
  <h1 class='text-center mb-4'>New Entry</h1>

  <%= form_with(model: @user, class: 'mb-4') do |form| %>
    <div class='mb-3'>
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class='mb-3'>
      <%= form.label :practice, class: 'form-label' %>
      <%= form.text_field :practice, class: 'form-control' %>
    </div>

    <%= form.label :experience, class: "form-label mt-3" %>
    <%= form.text_area :experience, class: "form-control input-size", rows: 5 %>

    <div class='mb-3'>
      <%= form.label :interest, text: "Select your interest", class: 'form-label mt-3' %>
      <%= form.select :interest, options_for_select(['Construction', 'Healthcare', 'Education', 'Manufacturing', 'Entertainment', 'Retail', 'Financial services', 'Other',]), { prompt: 'Choose an interest' }, class: 'form-control' %>
    </div>

    <div class='mb-3'>
    <%= form.label :skills, "Select your skills", class: 'form-label' %>
    <% ['Ruby', 'JavaScript', 'Python', 'Java', 'C++', 'HTML', 'CSS', 'SQL'].each do |skill| %>
      <div class="form-check">
        <%= form.check_box :skills, { multiple: true, class: 'form-check-input' }, skill, nil %>
        <%= form.label :skills, skill, class: 'form-check-label' %>
      </div>
    <% end %>
</div>

    <div>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div>
    <%= link_to "Back to home", root_path, class: 'btn btn-secondary' %>
  </div>
</div>