<div class='container'>
  <h1 class='text-center mb-4'>New Entry</h1>

  <%= form_with(model: @user, class: 'mb-4') do |form| %>
    <div class='mb-3'>
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class='mb-3'>
      <%= form.label :practice, class: 'form-label' %>
      <%= form.text_field :practice, class: 'form-control' %>
    </div>

    <div>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div>
    <%= link_to "Back to home", root_path, class: 'btn btn-secondary' %>
  </div>
</div>