<div class="navbar bg-body-tertiary">
 <div class="container-fluid">
   <%= link_to "Ruby learning journal", root_path %>

   <div class="navbar-link">
     <%= link_to "New Entry", new_user_path %>
   </div>

   <% if user_signed_in? %>
      <div> Signed in as <%= current_user.email %> </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        <a class="nav-link" href="#">Signed In Link</a>
        <% else %>
          <%= button_to "Sign in", new_user_session_path %>
        <% end %>

 </div>
</div>

